.dropzone{
    min-height: 200px !important;
    text-align: center !important;
    position: relative !important;
    overflow-x: scroll;
}
.dropzone .dz-message {
    font-size: 1.5rem !important;
    top: 40% !important;
    height: 150px !important;
}
.dropzone .dz-message:before{
    font-size: 50px !important;
}
.table td,
.table th{
    vertical-align: middle;
    padding: 0.5rem 0.75rem;
}